.searchbar {
  text-align: center;
}

#searchbar__form {
  padding: 2rem;
}

.searchbar__input {
  font-size: 1.5rem;
  margin: 5px;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  box-shadow: 3px 3px 3px 3px green;
  border: 1px solid white;
}

.searchbar__submit-button {
  color: white;
  background: green;
  font-size: 1.5rem;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  box-shadow: 3px 3px 3px 3px green;
  border: 1px solid white;
}

.searchbar__submit-button:hover {
  background: lightgray;
  color: green;
  box-shadow: 3px 3px 3px 3px gray;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}